<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>javascript</servlet-name>
        <servlet-class>org.jackjs.JackServlet</servlet-class>
        <init-param>
            <param-name>modulesPath</param-name>
            <param-value>WEB-INF/javascript</param-value>
        </init-param>
        <init-param>
            <param-name>module</param-name>
            <param-value>main.js</param-value>
        </init-param>
    </servlet>
  
    <servlet>
        <servlet-name>php</servlet-name>
        <servlet-class>com.caucho.quercus.servlet.QuercusServlet</servlet-class>
        <init-param>
            <param-name>ini-file</param-name>
            <param-value>WEB-INF/php.ini</param-value>
        </init-param>
    </servlet>
  
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>scriptlets.front.DispatcherServlet</servlet-class>
    </servlet>
    
    
    <servlet>
        <servlet-name>python</servlet-name>
        <servlet-class>com.xhaus.modjy.ModjyJServlet</servlet-class>
        <init-param>
          <param-name>python.home</param-name>
          <param-value>WEB-INF/lib-python</param-value>
        </init-param>
        <init-param>
          <param-name>app_filename</param-name>
          <param-value>run.py</param-value>
        </init-param>
        <init-param>
            <param-name>multithread</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
          <param-name>python.cachedir.skip</param-name>
          <param-value>true</param-value>
        </init-param>
        <init-param>
          <param-name>cache_callables</param-name>
          <param-value>1</param-value>
        </init-param>
        <init-param>
          <param-name>reload_on_mod</param-name>
          <param-value>1</param-value>
        </init-param>
        <!--init-param>
          <param-name>log_level</param-name>
          <param-value>debug</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup-->
      </servlet>

      <servlet-mapping>
        <servlet-name>python</servlet-name>
        <url-pattern>/python/</url-pattern>
      </servlet-mapping>
  
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/-/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>javascript</servlet-name>
        <url-pattern>/javascript/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>php</servlet-name>
        <url-pattern>*.php</url-pattern>
    </servlet-mapping>
    
    <!--servlet>
        <servlet-name>proxy</servlet-name>
        <servlet-class>com.jsos.httpproxy.HttpProxyServlet</servlet-class>
        <init-param>
            <param-name>host</param-name>
            <param-value>http://localhost:8082/python/</param-value>
        </init-param>
    </servlet-->
    
    <!--servlet-mapping>
      <servlet-name>proxy</servlet-name>
      <url-pattern>/python/</url-pattern>
    </servlet-mapping-->
   
    
      <context-param>
        <param-name>rackup</param-name>
        <param-value>require '../run'; run Scriptlets</param-value>
      </context-param>
      <listener>
          <listener-class>org.jruby.rack.RackServletContextListener</listener-class>
        </listener>
      <servlet>
        <servlet-name>ruby</servlet-name>
        <servlet-class>org.jruby.rack.RackServlet</servlet-class>
      </servlet>
      <servlet-mapping>
        <servlet-name>ruby</servlet-name>
        <url-pattern>/ruby/</url-pattern>
      </servlet-mapping>
      

    <welcome-file-list>
        <welcome-file>index.php</welcome-file>
    </welcome-file-list>
</web-app>
