{% extends 'base.html' %}
{% block head %}
<meta name="robots" content="noindex" />
{% endblock %}
{% block content %}

{{script.language}} written on {{script.created}}<br />
<pre>{{script.code|escape}}</pre>
Run URL: <input type="text" value="{{ run_url }}" size="25" /> <input type="submit" value="Run now" onclick="window.location.href = '{{ run_url }}'" />

<script type="text/javascript">
var options = {
  'path': "/static/js/",
  'readOnly': true,
  'height': '400px'
};
if ('javascript'=='{{script.language}}') {
  options['parserfile'] = ["tokenizejavascript.js", "parsejavascript.js"];
  options['stylesheet'] = "/static/css/jscolors.css";
} else if ('php' == '{{script.language}}') {
  options['parserfile'] = ["tokenizejavascript.js", "parsejavascript.js"];
  options['stylesheet'] = "/static/css/jscolors.css";
} else if ('python' == '{{script.language}}') {
  options['parserfile'] = ["../contrib/python/js/parsepython.js"];
  options['stylesheet'] = "/static/contrib/python/css/pythoncolors.css";
}
editor = CodeMirror.fromTextArea("code", options);
</script>
{% endblock %}